@tailwind base;
@tailwind components;
@tailwind utilities;


/* Default Pagination Styles */
.swiper-pagination {
  position: absolute;
  display: flex;
  justify-content: left; /* Align left for larger screens */
  align-items: center;
  bottom: 20px;
  width: 100%;
}
.swiper-wrapper{
  padding-top: 50px;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background-color: #1ad4d4;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.swiper{
  margin-top: 0px;
}
.swiper-pagination-bullet-active {
  width: 30px !important;
  background-color: #1ad4d4 !important;
  display: inline-block !important;
  border-radius: 1000px !important; 
}

.swiper-pagination-bullet:hover {
  background-color: #1ad4d4;
}


@media screen and (max-width: 768px) {
  .swiper-pagination {
    justify-content: center; 
  }
}
